{% extends 'base.html' %}
{% block content %}
<div class="center-text-wrapper">
    <h3 class="text">DIGITAL GRAVEYARD MANAGEMENT</h3>
</div>
<div class="page1-btn-group">
    <form class="page1-btn-form" method="POST" action="services">
        {% csrf_token %}
        <input class="page1-btn" type="submit" name="services" value="Online Services">
    </form>
    <form class="page1-btn-form" method="POST" action="graveyard_info">
        {% csrf_token %}
        <input class="page1-btn" type="submit" name="graveyard_info" value="Graveyards">
    </form>
    <form class="page1-btn-form" method="POST" action="digital">
        {% csrf_token %}
        <input class="page1-btn" type="submit" name="digital" value="Digital Graveyard">
    </form>
    {% if request.user.is_staff %}
    <form class="page1-btn-form" method="POST" action="staffdash">
        {% csrf_token %}
        <input class="page1-btn" type="submit" name="staffdash" value="Staff Dashboard">
    </form>
    {% endif %}
    {% if request.user.is_authenticated %}
    <form class="page1-btn-form" action="signout" method="POST">
        {% csrf_token %}
        <input class="page1-btn" type="submit" name="signout" value="Logout">
    </form>
    {% else %}
    <form class="page1-btn-form" action="firstlog" method="POST">
        {% csrf_token %}
        <input class="page1-btn" type="submit" name="firstlogin" value="Login / Signup">
    </form>
    {% endif %}
    <div class="rights">
    <center>
    <t class="rightsfont">&#169; 2025, All Rights Reserved<br></t>
    <t class="rightsfont">Preetham Reddy T N &#38; Navneet V</t>
    </center>
</div>
</div>
{% endblock %}






